--no-config
--no-playlist

--paths 'temp:%TEMP%' 
--paths 'home:%CLOUD_DIR%/Music'
--compat-options no-live-chat

--format bestaudio
--extract-audio
--audio-quality 0
--audio-format vorbis
# --audio-format m4a

--embed-metadata
--embed-thumbnail

--no-overwrites
--quiet

# naming template 
# -o %(title)s.%(ext)s
# -o "%(webpage_url_domain)s %(url&?P<v>[^&]+)s"
--output "www.%(webpage_url_domain)s watch v=%(id)s"
